<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="vv_whatsapp.webhook.verify" path="/vv-whatsapp/webhook" methods="GET">
        <default key="_controller">VvWhatsAppAssistant\Controller\WhatsAppWebhookController::verify</default>
        <default key="_routeScope">storefront</default>
    </route>

    <route id="vv_whatsapp.webhook.receive" path="/vv-whatsapp/webhook" methods="POST">
        <default key="_controller">VvWhatsAppAssistant\Controller\WhatsAppWebhookController::receive</default>
        <default key="_routeScope">storefront</default>
    </route>
</routes>
